div {
  display: inline-block;
  width: 40%;

}

p {
  font-size: 1em;
}

.cat {
  background-color: aquamarine;
}

.dog {
  background-color: coral;
  float: right;
}

footer {
  text-align: center;
  background-color: blueviolet;
}

img {
  width: 200px;
  height: 150px;
  float: left;
}